<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.msu.huangmax.ece480_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECE480_APP">
        <activity android:name=".ReEnterActivity"></activity>
        <activity android:name=".SetIDActivity" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".BedtimeQuestionsActivity" />
        <activity android:name=".NapQuestionsActivity" />
        <activity android:name=".ThankYouActivity" />
        <activity android:name=".WakeUpQuestionsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RepeatingActivity" />
        <activity android:name=".StartTimerActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".IntroVideoActivity" />

        <receiver android:name=".NotificationReceiver" />
    </application>

</manifest>